.main-body{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:#e6e6e6;
}

.container{
    max-width: 720px;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    background:#fff;
    box-shadow: 0 5px 10px rgba(0, 0,0,0.15);
    position: relative;
    /* clip-path:circle(68% at right);
    background: linear-gradient(135deg,#fd9bb0 10%,#f6416c 100%); */

}
.container::before{
    position: absolute;
    content: '';
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    clip-path:circle(68% at right);
    background: linear-gradient(135deg,#fd9bb0 10%,#f6416c 100%);
    border-radius: 0 12px 12px 0;
}
.container .box-one{
    padding:35px 5px 0 35px;
}
.box-one .details .topic{
font-size: 30px;
font-weight: 500;
}
.box-one .details p{
    color:#737373;
    font-size: 13px;
    font-weight: 500;
}
.box-one .details .rating{
    color:#fd9660;
} 
.box-one .details .price-box{
margin-top: 16px;
}
.details .price-box .discount{
font-size:20px;
color:#737373;
margin: 10px 0 0 12px;
position: relative;
}
.button1{
    margin-top: 55px;
}
.button1 button{
    outline: none;
    padding:8px 16px;
    color:#fff;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background:#00e6e6;
    transition: all 0.3s ease;
    cursor: pointer;
}
.button1 button:hover{
    transform: scale(0.98);

}
.price-box .discount::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background: #737373;
    top:50%;
    left: -8px;
    
}
.price-box .price{
    color:#fc6989;
    font-size: 30px;
}
.container .box-two .image{
 height: 340px;
 width: 430px;

}
.container .box-two .image img{
height: 100%;
width:100%;
object-fit: cover;
}
.container .box-two .image-box{
    position: relative;
    text-align: right;
    right: 0;
    bottom: 100px;
}
.image-box .image img{
background: none;
height: 100%;
width: 100%;
object-fit: cover;
}

.box-two .info{
    margin: 0 35px 0 0;
    text-align: right;
}
.info .brand{
    font-size: 17px;
    font-weight: 600;
    color:#c9032e;
}



